h1{    
    text-align: center;
    clear: both; 
    position: relative;
    bottom: -30px;
    left: -10%;
}
h2{
    float: left;
    clear: both;
    width: 5px;
    position: relative;
    top: 10px;
}
p{
    float: right;
    width: 90%;
    text-align: left;
    position: relative;
    left: -10%;
}
ol, li{
    margin-bottom: -20px;
    margin-top: -20px;
}